fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-community
langchain-text-splitters

qdrant-client

sentence-transformers

langchain-huggingface

redis

requests

pydantic
structlog
